merge.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Package Managers
node_modules/
dist/
dist-ssr/
*.local

# Env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Optional: OS / tool trash
*.tmp
*.bak
*.orig

# Vite / build cache (opsiyonel ama önerilir)
.vite/
