body {
  background-color: rgb(183, 197, 197);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(219, 8, 219);
}

h1 {
  width: 50vh;
  /* width: 50vmin; */
  /* width: 50%; */
  margin: 20px 10px;
  font-size: 2.5rem;
  text-align: center;
  color: #333333;
  background-color: rgb(37, 203, 140);
}

/* -------------------------------------------------- SARI RENK */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;

  padding: 2rem 2rem; /* Üst ve alt boşluk */
  width: 75%;
  gap: 1rem; /* Elemanlar arası boşluk */

  background-color: rgb(219, 201, 8);
}

.task_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem; /* Elemanlar arası boşluk */
  width: 100%;
}

.task_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem; /* Elemanlar arası boşluk */
  width: 100%;
  min-height: 50vh;

  border-radius: 12px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.08);
  background-color: cadetblue;
}

.task_type_head {
  background-color: rgb(159, 159, 159);
  width: 100%;
  border-radius: 12px 12px 0 0;
  text-align: center;
  color: #333333;
  box-shadow: #333333 0px 4px 8px -2px;
  border: 1px solid #333333;
}

.task_type_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem; /* Elemanlar arası boşluk */
  width: 100%;
}

.task_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 4px;
  padding-inline: 10px;
  width: 90%;
  justify-content: space-between;
  border-radius: 8px;
  background-color: rgb(8, 219, 219);
}

.task_title {
  font-size: 1.2rem;
  color: #333333;
}

/* .todo-wrapper {

  width: 80%; 
  max-width: 700px; 
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.08);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px; 
  background-color: rgb(8, 219, 219);
} */

.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.checkbox-wrapper-31 .background {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  -appearance: none;
  -webkit-appearance: none;
}
.checkbox-wrapper-31 input[type="checkbox"]:hover {
  cursor: pointer;
}
.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .background {
  fill: #6cbe45;
}
.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .stroke {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type="checkbox"]:checked + svg .check {
  stroke-dashoffset: 0;
}
