.delete-btn-wrapper-single {
  width: clamp(24px, 5vw, 36px);
  height: clamp(24px, 5vw, 36px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn-single {
  cursor: pointer;
  outline: none;
  border: none;
  color: #000000;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.delete-btn-wrapper-single:hover {
  background-color: #ffb7b7;
  border-radius: 8px;
}

.delete-btn-wrapper-single:hover .delete-btn-single {
  opacity: 1 !important;
  color: #ff0000;
}

.task_item--completed .delete-btn-single {
  opacity: 0.5;
  color: #000000;
}

.task_item--completed .delete-btn-wrapper-single:hover .delete-btn-single {
  opacity: 1 !important;
  color: #ff0000 !important;
}
