.delete-btn-wrapper-deadline {
  width: clamp(24px, 5vw, 36px);
  height: clamp(24px, 5vw, 36px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-btn-wrapper-deadline:hover {
  background-color: #ffb7b7;
  border-radius: 8px;
}

.delete-btn-deadline {
  cursor: pointer;
  outline: none;
  border: none;
  color: #000000;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.delete-btn-wrapper-deadline:hover .delete-btn-deadline {
  opacity: 1 !important;
  color: #ff0000;
}

.task-body.task_item--completed .delete-btn-deadline {
  opacity: 0.5;
  color: #000000;
}

.task-body.task_item--completed
  .delete-btn-wrapper-deadline:hover
  .delete-btn-deadline {
  opacity: 1 !important;
  color: #ff0000 !important;
}

.task-body:not(.task_item--completed):hover .edit-btn-deadline {
  opacity: 0.3;
}
