/* ─── WRAPPER ─── */
.edit-btn-wrapper-single {
  width: clamp(24px, 5vw, 36px);
  height: clamp(24px, 5vw, 36px);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.edit-btn-wrapper-single:hover {
  background-color: #ffcf8f;
}

/* ─── BUTTON ─── */
.edit-btn-single {
  width: auto;
  height: auto;
  cursor: pointer;
  outline: none;
  border: none;
  color: #000000;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:
    opacity 0.2s ease,
    color 0.2s ease;
  padding: 0;
}

/* Task hover -> hafif belirir */
.task_item:hover .edit-btn-wrapper-single.save-mode .edit-btn-single {
  opacity: 1;
}

.task_item:hover .edit-btn-single {
  opacity: 0.3;
}

.edit-btn-wrapper-single:hover .edit-btn-single {
  opacity: 1;
  color: #ff0000;
}

/* ─── SAVE MODE ─── */

.edit-btn-wrapper-single.save-mode {
  background-color: #4ade80;
}

.edit-btn-wrapper-single.save-mode .save-btn-single {
  opacity: 1;
  color: #000000;
}

.edit-btn-wrapper-single.save-mode:hover .save-btn-single {
  opacity: 1;
  color: #000000;
}

/* ─── DISABLED MODE ─── */
.edit-btn-wrapper-single.save-mode:has(.save-btn-single--disabled) {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-btn-wrapper-single.save-mode:has(.save-btn-single--disabled):hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-btn-wrapper-single.save-mode .save-btn-single--disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
